<div class="col-sm-3 offset-sm-1 blog-sidebar side-bar">
				<div class="sidebar-module sidebar-module-inset">
					<h4>Overview</h4>
					<p>Husband to Shayna and Father to Eliza.</p>
					<img src= "resources/core/images/AFrasier-WhereInTheWorldIsCTSWinner.jpeg" alt="Egypt Photo" class="img-responsive">
				</div>
				<div class="sidebar-module">
					<h4>My Personal Sites</h4>
					<ol class="list-unstyled">
						<li><a href="https://github.com/afrasier02" target="_blank">GitHub</a></li>
						<li><a href="https://linkedin.com/in/arron-frasier-4b679515"
							target="_blank">LinkedIn</a></li>
						<li><a href="https://facebook.com/arron.frasier"
							target="_blank">Facebook</a></li>
					</ol>
				</div>
</div>