.developer-body {
  background: linear-gradient(to right, rgb(239, 239, 187), rgb(212, 211, 221))
}

.navbar {
  background: linear-gradient(to right, rgb(239, 239, 187), rgb(212, 211, 221));
  box-shadow: none;
}

.active {
  color: white;
  background-color: rgb(212, 211, 221);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
   color: white;
   background-color: rgb(212, 211, 221);
   border-color: black;
}