.developer-body {
  background: linear-gradient(to right, rgb(239, 239, 187), rgb(212, 211, 221))
}

.navbar {
  background: black;
  box-shadow: none;
}

.active {
  color: white;
  background-color: White;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
   color: white;
   background-color: black;
   border-color: black;
}

.side-bar {
	border-color: black;
	border-style: solid;
}